.user-container{
    display: flex;
    justify-content: center;
    margin-bottom: 1rem
};

.user-div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-radius: 1rem;
    padding: 10px;
    background-color: #fff;
    width: 90%;
}

.user-stock {
    display: flex;
}

.user-img {
    width: 1.5rem;
    margin-right: 1rem;
}

.stock-div {
    display: flex;
    margin-left: 1rem;
    img {
        width: 1rem;
        margin-right: 0.5rem;
    }
}
